@white: #f5f0e1;
@dark_blue: #1e3d59;
@light_blue: #8594b6;
@blue: #50687f;


.header{
  background-color: @dark_blue;
  height: 65px;
  padding: 15px;
  color: @white;
  font-size: 30px;
}

.header-shade{
  height: 5px;
  background-color: @light_blue;
}

.body{
  position: relative;
  background-color: @white;
  height: calc(100vh - 70px);
  overflow: auto;
}


